@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: cairo, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
body, html {
    height: 100%;
}

p {
    padding: 20px;
    line-height: 20px;
}

/*  heading and logo */

h1, h2, h3 {
    font-family: cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 15px;
}

/* nav */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#menu li {
    margin-right: 30px;
}

ul li:nth-child {
    order: 1;
}

ul li:nth-child {
    order: 2;
}

ul li:nth-child {
    order: 3;
}

ul li:nth-child {
    order: 4;
}

ul li:nth-child {
    order: 5;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 1px solid #3a3a3a;
}

.active {
    border-left: 1px solid #3a3a3a;
}

/*hero image */

#hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 1000px;
    width: 100%;
    background: url('../images/pexels-lain-lee-4750787.jpg') center center / cover no-repeat;

    /*animates moving effect on loading page*/
    animation: hero-bounce 3s;
}

/* creates the moving aspect for hero image */

@keyframes hero-bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.quote-bar {
    background: #3a3a3a;
    color: white;
}

.quote {
    text-align: center;
}

/* pint vs xr */
#pint-xr {
    height: 1000px;
    padding-top: 50px;
    text-align: center;
    background-color: #00C1A5;
}

table {
    margin: 0 auto;
    width: 50%;
    padding: 0 50px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr:hover {
    background-color: #F5874E;
}

tr, th, td {
    text-align: Center;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}

.board {
    display: flex;
}

.board-xr {
    flex: 50%;
}

.board-pint {
    flex: 50%;
    transform: rotateY(180deg);
}

.board > div {
    width: 500px;
    height: 500px;
}

.board > div img {
    max-height: 100%;
}

/* Home page image gallery*/

.home-images {
    float: left;
    width: 33.33%;
    padding: 0 100px 2px 100px;
}

.home-images-outer::after {
    content: "";
    clear: both;
    display: table;
}


/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks> li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* how to section*/

/* hero image */

#how-to-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cameron-venti-x9FNzh07VfA-unsplash.jpg");
    height: 1000px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    overflow: hidden;
}

#how-to-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#how-to-text > h1 {
    color: white;
    font-size: xx-large;
}

/* warning */

.warning > h2 {
    text-align: center;
    background-color: #F5874E;
}

.warning > p > span {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: x-large;
}

/* Protective gear */

.protec-gear > h2 {
    padding-left: 20px;
}

.protec-media {
    padding: 20px;
    text-align: center;
}

/* lets gets started */

.lets-go-intro > h2 {
    padding-top: 20px;
    padding-left: 20px;
}

.lets-go-intro > div > h3 {
    padding-left: 20px;
}

.lets-go-meia-outer {
    display: flex;
}

.lets-go-media {
    flex: 33.33%;
    padding: 0 175px;
}



