@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: cairo, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/*  heading and logo */

h1, h2 {
    font-family: cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu li {
    margin-right: 30px;
}

ul {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
ul li:nth-child {
    order: 1;
}

ul li:nth-child {
    order: 2;
}

ul li:nth-child {
    order: 3;
}

ul li:nth-child {
    order: 4;
}

ul li:nth-child {
    order: 5;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 1px solid #3a3a3a;
}

.active {
    border-left: 1px solid #3a3a3a;
}

/*hero image */

#hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 1000px;
    width: 100%;
    background: url('../images/pexels-lain-lee-4750787.jpg') center center / cover no-repeat;

    /*animates moving effect on loading page*/
    animation: hero-bounce 3s;
}

/* creates the moving aspect for hero image */

@keyframes hero-bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.quote-bar {
    background: #3a3a3a;
    color: white;
}

.quote {
    text-align: center;
}
