@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: cairo, sans-serif;
    font-weight: 400;
    color: #1b1b1b;
}
body, html {
    height: 100%;
}

p {
    padding: 20px;
    line-height: 20px;
    margin: auto;
    width: 60%;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*  heading and logo */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 15px;
}

/* nav */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#menu li {
    margin-right: 30px;
}

ul li:nth-child {
    order: 1;
}

ul li:nth-child {
    order: 2;
}

ul li:nth-child {
    order: 3;
}

ul li:nth-child {
    order: 4;
}

ul li:nth-child {
    order: 5;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 1px solid #1b1b1b;
}

.active {
    border-left: 1px solid #1b1b1b;
}

/*hero image */

#hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#hero-image {
    background: url(../images/pexels-lain-lee-4750787.jpg) center center / cover no-repeat;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;

    /*animates moving effect on loading page*/
    animation: hero-bounce 3s;
}

/* creates the moving aspect for hero image */

@keyframes hero-bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#hero-text > h2 {
    color: white;
}

#hero-text > h3 {
    color: white;
}

/* pint vs xr */

#pint-xr {
    padding-top: 30px;
    text-align: center;
}

.board-pic {
    padding: 10px;
}

table {
    margin: 0 auto;
    width: 75%;
    padding: 5px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:hover {
    background-color: #F5874E;
}

tr, th, td {
    text-align: Center;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}

/* Home page image gallery*/

.home-images-text  {
    text-align: center;
    padding: 30px;
}

.home-images-outer {
    display: flex;
}

.home-images {
    flex: 33.33%;
    padding: 5px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    padding-top: 80px;
}

.social-networks i:hover {
    color: #00C1A5;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    padding: 2% 5%;
    color: #1b1b1b;
}


/* how to section*/

/* hero image */

#how-to-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cameron-venti-x9FNzh07VfA-unsplash.jpg");
    height: 600px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    overflow: hidden;
}

#how-to-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#how-to-text > h2 {
    color: white;
    font-size: xx-large;
}

/* warning */

.warning {
    text-align: center;
    background-color: #F5874E;
}

.warning > h3 {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: x-large;
}

/* Protective gear */

.protec-gear {
    padding: 20px;
    text-align: center;
}

.protec-media {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

/* lets gets started */

.lets-go {
    margin: 20px 0;
    text-align: center;
}

.lets-go > h2 {
    background-color: #F5874E;
}

.lets-go-text {
    padding: 20px;
}

.lets-go-media {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16.9 aspect ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* maintenance page */

#maintenance-image {
    background-image: url("../images/pexels-lain-lee-4750859.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    overflow: hidden;
}

#maintenance-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

#maintenance-text h2 {
    color: white;
    font-size: xx-large;
}

.list  {
    text-align: center;
    padding-top: 30px;
}

.list-items {
    padding: 5px;
    line-height: 3;
}

.list-items a {
    text-decoration: none;
}

.how-to-steps {
    padding: 20px;
    text-align: center;
    display: inline-grid;
}

#cleaning {
    text-align: center;
}

#cleaning h2 {
    margin-top: 20px;
    background-color: #F5874E;
}

/*.how-to-text {

}

.lets-go-media {
    
}*/

/* gallery page */

.pictures-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.pictures-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.pictures-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#pictures-text h2 {
    padding: 10px;
    clear: both;
    text-align: center;
}

/* Form Page */

#form-outer {
    padding: 20px;
    clear: both;
    background-color: #00C1A5;
}

#form {
    margin-top: 1em;
}

#form h3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: right;
}

/* Media Queries */

/* 1200px */

@media screen and (max-width: 1200px) {
    
}

/* 500px */
@media screen and (max-width: 500px) {

    #menu {
        font-size: 65%;
    }

    #logo {
        font-size: 200%;
    }

    p {
        width: 100%;
    }

    h2, h3 {
        font-size: small;
    }

    #hero-image {
        background: url(../images/pexels-lain-lee-4750787.jpg) bottom left / cover no-repeat;
        height: 300px;
    }

    .board > div img {
        max-width: 100%;
    }

    table {
        width: 100%;
    }

    #how-to-image {
        height: 300px;
    }

    #how-to-text > h2 {
        font-size: large;
    }

    .protec-media iframe {
        width: 100%;
        height: 100%;
    }

    #maintenance-image {
        height: 300px;
    }

    #maintenance-text h2 {
        font-size: large;
    }

    #pictures {
        column-count: 2;
    }

    .social-networks {
        margin: 20px;
    }
}

/* 800px */

@media screen and (max-width: 800px) {

    p {
        width: 100%;
    }

    #menu {
        letter-spacing: 0;
    }

    table {
        width: 100%;
    }

    .board > div img {
        max-width: 100%;
        padding: 5px;
    }

    .social-networks {
        margin: 20px;
    }
}